<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidModule1"
        tools:targetApi="31">
        <!-- Seccion fusionada entre Alex y Vidal.  VRV 2025-02-09  -->
        <activity
            android:name=".ejercise.home.vidalruiz.VidalHomeMainActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ejercise.home.alexissantos.homework.ConfirmActivityCS"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.alexissantos.homework.RegisterActivityCS"
            android:exported="false" />
        <activity android:name=".ejercise.home.alexissantos.exercise2.DidacticDetailActivityCS" />
        <!-- End new lines -->

        <activity
            android:name=".ejercise.home.carlogarcia.CarloGarciaMainActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.carlogarcia.exercise2.Exercise2MainActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.carlogarcia.exercise1.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.carlogarcia.exercise1.LifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.lissetnoriega.LissetSecondInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.lissetnoriega.LissetInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.lissetnoriega.LissetLifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.lissetnoriega.LissetMainActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.vidalruiz.exercise1.VidalIntentWithParameters"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.vidalruiz.exercise1.VidalIntentActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.vidalruiz.exercise1.VidalExercise1MainActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.vidalruiz.exercise1.VidalLifeCycleActivity"
            android:exported="false" />
        <!--  Add de Alexis -->
        <activity android:name=".ejercise.home.alexissantos.exercise2.DidacticActivityCS" />
        <!-- End new line -->
        <activity
            android:name=".ejercise.home.alexissantos.exercise1.ActivityTwo"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.alexissantos.exercise1.ActivityOne"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.alexissantos.exercise1.FlowActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.alexissantos.SelectActivityCS"
            android:exported="false" />

        <activity
            android:name=".ejercise.home.carlogarcia.exercise1.JobsActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.carlogarcia.exercise1.Exercise1MainActivity"
            android:exported="false" />
        <activity
            android:name=".ejercise.home.TeamActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>